<div class="nested-fields">
    <div class="field">
        <%= f.label :material %>
        <%= f.text_field :material, placeholder: "じゃがいも" %>
        <%= f.label :quantity %>
        <%= f.text_field :quantity, placeholder: "2個" %>
    </div>
    <div class="field">
        <%= link_to_remove_association "削除", f %>
    </div>
</div>