<% if current_user == @recipe.user %>
    <%= link_to "レシピ編集", edit_recipe_path, class: "btn btn-large btn-primary" %>
    <%= link_to "レシピ削除", recipe_path, class: "btn btn-large btn-primary", method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } %>
<% end %>
<div class="recipe-option">
<div class="chef-name">
    シェフ：<%= link_to @recipe.user.name, @recipe.user, class: "chef-name-link" %>
</div>
    <div class="like-btn">
        <% if logged_in? %>
            <% if current_user.like?(@recipe) %>
                <%= link_to "お気に入り解除", like_path(@recipe), method: :delete, class: "btn btn btn-primary" %>
            <% else %>
                <%= link_to "お気に入りにする", likes_path(recipe_id: @recipe.id), method: :post, class: "btn btn-warning" %>
            <% end %>
        <% end %>
        <div class="like-recipe-count">
            <%= link_to "お気に入り" + @recipe.likes.count.to_s + "件", like_recipe_path %>
        </div>
    </div>
</div>
<div class="recipe-top row">
    <%= image_tag @recipe.image.url, class: "recipe-image" %>
    <div class="recipe-top-bottom">
        <div class="recipe-title">
            <%= @recipe.title %>
        </div>
        <div class="recipe-description">
            <%= @recipe.description %>
        </div>
    </div>
</div>
<div class="row">
    <div class="recipe-element col-md-6">
        <div class="recipe-subtitle">
            材料
        </div>
        <% @recipe.recipe_materials.each do |material| %>
            <div class="recipe-material-id">
                <span><%= material.material %></span>
                <span class="quantity"><%= material.quantity %></span>
            </div>
        <% end %>
    </div>
    <div class="recipe-element col-md-6">
        <div class="recipe-subtitle">
            ポイント
        </div>
        <ul>
            <% @recipe.recipe_points.each do |point| %>
                <li><%= point.point %></li>
            <% end %>
        </ul>
    </div>
</div>
<div class=" recipe-element row col-md-12">
    <div class="recipe-subtitle">
        レシピ
    </div>
    <ol>
        <% @recipe.recipe_steps.each do |step| %>
            <div class="recipe-step-id col-md-6">
                <li><%= step.step %></li>
            </div>
        <% end %>
    </ol>
</div>