<h2>プロフィールを編集</h2>
<%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :image %>
    <div class="field">
        <%= image_tag @user.image.thumb.url if @user.image? %>
        <%= f.file_field :image %>
        <%= f.hidden_field :image_cache %>
    </div>
    <%= f.label :name %>
    <div class="field">
        <%= f.text_field :name, class: "form-control" %>
    </div>
    <%= f.label :email %>
    <div class="field">
        <%= f.email_field :email, class: "form-control" %>
    </div>
    <%= f.label :introduction %>
    <div class="field">
        <%= f.text_area :introduction, class: "form-control" %>
    </div>
    <div class="field">
        <%= f.submit "保存", class: "btn btn-large btn-primary edit-user-btn" %>
    </div>
<% end %>