<div class="user-profile">
    <div class="profile-left col-md-4">
        <% if @user.image? %>
            <%= image_tag @user.image.url, class: "user-image" %>
        <% else %>
            <%= image_tag "default_image.jpg", class: "user-image" %>
        <% end %>
    </div>
    <div class="profile-right col-md-6">
        <div class="profile-right-top">
            <span class="profile-name">
                <%= @user.name %>
            </span>
            <% if @user == current_user %>
                <div class="profile-edit">
                    <%= link_to "プロフィール編集", edit_user_path, class: "btn btn-large btn-primary edit-profile-btn" %>
                </div>
            <% end %>
            <%= render 'follow_form' if logged_in? %>
        </div>
        <div class="profile-introduction">
            <% if @user.introduction.present? %>
                <%= @user.introduction %>
            <% end %>
        </div>
        <div class="users-data">
            <span>レシピ投稿<%= @user.recipes.count %>件</span>
            <%= link_to "お気に入り" + @user.like_recipes.count.to_s+ "件", like_user_path, class: "users-like-data" %>
            <%= link_to "フォロワー" + @user.follower_relationships.count.to_s + "人", followers_user_path, class: "users-follow-data" %>
            <%= link_to @user.following_relationships.count.to_s + "人をフォロー中", followings_user_path, class: "users-follow-data" %>
        </div>
    </div>
</div>
<div class="user-recipes col-md-12">
    <%= render @recipes %>
</div>