<header>
    <div class="header-title">
        <%= link_to "Kitchen", root_path %>
    </div>
    <div class="header-right">
        <% if logged_in? %>
            <ul class="nav nav-pills">
                <li role="presentation" class="dropdown header-user-name">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                        <%= current_user.name %><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><%= link_to "マイページ", current_user %></li>
                        <li role="presentation"><%= link_to "レシピ作成", new_recipe_path %></li>
                        <li role="presentation"><%= link_to "プロフィール編集", edit_user_path(current_user) %></li>
                        <li role="presentation"><%= link_to "タイムライン", timeline_user_path(current_user) %></li>
                        <li role="presentation"><%= link_to "ログアウト", logout_path, method: "delete" %></li>
                    </ul>
                </li>
            </ul>
        <% else %>
            <div class="header-signup-link">
                <%= link_to "アカウント作成", signup_path %>
            </div>
            <div class="header-login-link">
                <%= link_to "ログイン", login_path %>
            </div>
        <% end %>
    </div>
</header>